<div class="main_top">
  <div class="header_left">
    <div class="group_name">
      黒の組織
    </div>
  </div>
  <div class="header_right">
    <div class="close">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="main_middle">
  <%= render partial: 'message', collection: @messages %>
</div>
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="f_input">
    <%= f.text_field :content, class: 'f_text', placeholder: 'type a message' %>
    <label class="form_image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
    <%= f.submit '送信', class: 'f_send'%>
  </div>
<% end %>
